
.single-contents
  
  .single-header
    %h1
      .top-link
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2177740229', height: '49', width: '185'

  .single-main

    %section.buy-item-contents

      %h2.buy-item-head
        購入内容の確認
      %section.buy-content.buy-item
        .buy-content__inner
          %h3.item-image
            = image_tag 'https://static.mercdn.net/thumb/photos/m45896064172_1.jpg?1553586186'
          %p.item-name
            メンズ ニット グレー
          %form(action="")
            %p.buy-price
              ¥2,480
              %span.in-shipping-fee
                送料込み
            %ul.not-have
              %li.accordion-parent
                .accordion-toggle
                  ポイントはありません
            %ul.buy-price-table
              %li
                .buy-price-cell
                  支払い金額
                .buy-price-cell
                  %span
                    ¥2,480
            %button.buy-btn
              購入する

