.single-contents
  
  .single-header
    %h1
      .top-link
        = link_to '/' do
          = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2177740229', height: '49', width: '185'

  .single-main

    %section.buy-item-contents

      %h2.buy-item-head
        購入完了
      %h3(style="text-align: center")
        = link_to '商品ページに戻る', purchase_items_path(1) #ID仮置き

  .single-footer
    %nav
      %ul.clearfix
        %li
          .a
            プライバシーポリシー
        %li
          .a
            メルカリ利用規約
        %li
          .a 
            特定商取引に関する表記
    .single-footer-logo
      = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2177740229', height: '65', width: '80'
    %p
      %small
        © 2019 Mercari
