@import "items";
@import "font-awesome";
@import "./reset";
@import "./footer";
@import "./top.scss";
@import "./mypage/mypage.scss";
@import "./mypage/profile.scss";
@import "./users/session.scss";
@import "./users/registration.scss";
@import "./items.scss";
@import "./purchase.scss";
@import "./logout.scss";
@import "./card.scss";
@import "./identification.scss";
@import "./signup.scss";
@import "./credit_card.scss";
@import "./delete.scss";
@import "./breadcrumbs.scss";
@import "./searches.scss";
@import "comment.scss";


.notifications {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  .alert{
    color: #fff;
    text-align: center;  
    background-color: red;
  }
  .notice{
    color: #fff;
    text-align: center;  
    background-color: yellowgreen;
  }
}

@keyframes cssAnimation {
  to {
    width:0;
    height:0;
    overflow: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width:0;
    height:0;
    visibility: hidden;
  }
}