@import "items";
@import "font-awesome";
@import "./reset";
@import "./footer";
@import "./top.scss";
@import "./mypage/mypage.scss";
@import "./mypage/profile.scss";
@import "./users/session.scss";
@import "./users/registration.scss";
@import "./items.scss";
@import "./purchase.scss";
@import "./logout.scss";
@import "./card.scss";
@import "./identification.scss";
@import "./signup.scss";
@import "./credit_card.scss";
@import "./breadcrumbs.scss";
@import "./searches.scss";

.notifications {
  color: #fff;
  text-align: center;  
  background-color: red;
}