.nav{
  ul{
    li{
      .breadcrumbs{
        font-size: 20px;
        line-height: 20px;
        color: #333;
        a{
          font-size: 14px;
          color: #333;
          padding: 0 5px;
        }
        a:hover{
          color: #aaa;
          text-decoration: underline;
        }
        span{
          font-size: 14px;
          font-weight: bold;
          padding: 0 5px;
        }
      }
    }
  }
}