
* {
  margin: 0;
  padding: 0;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

header {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
}

.item-show-box {
  padding: 24px 40px 40px;
  background: #fff;
  margin: 0 auto;
  margin-top: 40px;
  width: 620px;
  text-align: center;

  .item-show-name {
    font-size: 24px;
    word-wrap: break-word;
    line-height: 1.4;
    display: inline-block;
  }

  .item-show-main {
    margin: 16px 0 0;

    .item-show-photo {
      float: left;
      min-width: 300px;
      max-width: 300px;
      margin: 0 auto;
      background: #fafafa;
      position: relative;
      .carousel {
        position: relative;
        .stage-outer {
          position: relative;
          overflow: hidden;
          .stage {
            position: relative;
            &__item {
              min-height: 1px;
              float: left;
              user-select: none;
              &__upper{
                width: 300px;
                height: 300px;
                position: relative;
                img {
                  position: absolute;
                  left: 0;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  margin: auto;
                  max-width: 300px;
                  max-height: 300px;
                }
              }
              &__inner {
                width: 100%;
                height: 120px;
                padding: 0 0;
                .carousel-image {
                  transition: opacity 400ms ease;
                }
                img {
                  float: left;
                  width: 60px;
                  height: 60px;
                  object-fit: cover;
                  opacity: 0.4;
                }
                .active {
                  opacity: unset;
                }
              }
            }
          }
        }
      }
    }
    .item-detail-table {
      float: right;
      max-width: 300px;
      height: 420px;
      margin: 0 auto;
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      th {
        width: 39%;
        text-align: left;
        font-weight: 400;
        background: #fafafa;
        padding: 8px;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
      }
      td {
        text-align: left;
        width: 61%;
        background: #fff;
        padding: 8px;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
        .rating-icon {
          display: inline-block;
          margin: 8px 0 0 16px;
          .good {
            color: #ef5185;
          }
          i {
            font-size: 16px;
            vertical-align: middle;
          }
        }
        .rating-icon:first-child {
          margin: 0;
        }
      }
    }
    table {
      border-spacing: 0;
      font-size: 14px;
      .link {
        color: #0099e8;
      }
    }
  }
  .item-price-box {
    margin: 24px 0 0;
    .item-price {
      margin: 0 16px 0 0;
      font-size: 50px;
      font-weight: 600;
    }
    .item-tax {
      font-size: 10px;
    }
    .item-shipping-fee {
      display: inline-block;
      font-size: 16px;
    }
  }
  .item-buy-btn {
    font-size: 24px;
    line-height: 60px;
    display: block;
    margin-top: 16px;
    background: #ea352d;
    color: #fff;
    text-align: center;
    font-weight: 600;
    transition: all ease-out .3s;
  }
  .item-description {
    padding: 32px 0 0;
    line-height: 1.5;
    font-size: 18px;
    &__inner{
      white-space: pre-wrap;
      text-align: left;
    }
  }
  .item-buttons {
    margin: 16px 0 0;
    font-size: 0;

    .item-button-left {
      float: left;
      button {
        border: 1px solid #ea352d;
        background: none;
        color: #ea352d;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 40px;
        transition: all ease-out .3s;
        outline: 0;
        cursor: pointer;
        i {
          -webkit-animation: rubber-band 1s;
          animation: rubber-band 1s;
        }
        span {
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
      }
      .report {
        display: inline-block;
        margin: 0 0 0 16px;
        color: #333;
        background: #f5f5f5;
        padding: 8px 16px;
        border-radius: 40px;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        i {
          font-size: 14px;
          vertical-align: middle;
        }
        span {
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
      }
    }

    .item-button-right {
      float: right;
      margin: 16px 0 0;
      width: 227px;
      height: 15px;
      .safe-link {
        display: inline-block;
        color: #0099e8;
        width: 240px;
        height: 15px;
        i {
          font-size: 18px;
        }
        span {
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
          margin-bottom: 11px;
        }
      }
    }
  }
}

.item-edit-block{
  width: 700px;
  background-color: #fff;
  margin: 24px auto;

  .edit__btns{
    padding: 12px 16px;
    text-align: center;

    &__btn{
      padding: 14px 0;
      margin: 16px 0;

      &--edit{
        color: #fff;
        background-color: red;
        padding: 16px 290px;
        font-size: 14px;
      }
      &--stop{
        color: #fff;
        background-color: #aaa;
        padding: 16px 262px;
        font-size: 14px;
      }
      &--delete{
        color: #fff;
        background-color: #aaa;
        padding: 16px 262px;
        font-size: 14px;
        cursor: pointer;
      }

    }
  }

}

.message-container__edit-block{
  .message-content{
    text-align: center;
    padding: 20px 24px;
    &__btn--red{
      color: #fff;
      background-color: red;
      padding: 15px 282px;
    }
    &__btn{
      color: #fff;
      background-color: gray;
      padding: 15px 250px;
    }
  }
  .message-content__text{
    background-color: #fff;
    text-align: center;
    padding: 12px 24px;
  }
}

.item-detail-message {
  width: 700px;
  margin: 8px auto;
  .message-content {
    background: #fff;
    padding: 24px;
    p {
      padding: 8px;
      font-size: 14px;
    }
    .alert_message{
      background: #fff6de;
    }
    .textarea {
      margin: 8px 0 0;
      padding: 10px;
      width: 630px;
      height: 90px;
      border: 1px solid gray;
      resize: vertical;
    }
    .message-submit {
      width: 100%;
      height: 50px;
      margin: 8px 0 0;
      font-size: 0;
      text-align: center;
      background: #aaa;
      border: solid 1px #aaa;
      color: #fff;
      font-size: 14px;
      vertical-align: middle;
    }
  }
}

.social-media-box {
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: #fff;
  i {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    line-height: 44px;
    font-size: 35px;
  }
  .medias {
    margin: 16px 0 0;
    text-align: center;
    font-size: 0;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
      .share-btn {
        display: block;
      }
      .fb {
        color: #fff;
        background: #385185;
        font-size: 26px;
        border-radius: 4px;
      }
      .tw {
        color: #fff;
        background: #5d9dc9;
        font-size: 24px;
        border-radius: 4px;
      }
      .pi {
        color: #fff;
        background: #aa262a;
        font-size: 18px;
        border-radius: 4px;
      }
    }
  }
}
.items-in-user-profile {
  width: 700px;
  margin: 0 auto;
  .items-box-head {
    font-size: 22px;
    margin: 24px 0 8px;
    line-height: 1.4;
    .link {
      color: #0099e8;
    }
  }
  .items-box-content {
    width: auto;
    margin: 0 auto;
    .items-box {
      width: 220px;
      margin: 0 20px 20px 0;
      position: relative;
      float: left;
      background: #fff;
      .link {
        display: block;
        color: #333;
        .items-box-photo {
          width: 220px;
          overflow: hidden;
          position: relative;
          padding: 0 0 100%;
          img {
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
          }
        }
        .items-box-body {
          padding: 16px;
          .items-box-name {
            overflow: hidden;
            position: relative;
            font-weight: 400;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;
            font-size: 16px;
            color: #333;
          }
          .items-box-num {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            margin: 8px 0 0;
            .items-box-price {
              font-size: 17px;
              font-weight: 600;
              color: #333;
            }
            .box-icon {
              font-size: 16px;
              font-weight: 400;
              color: #333;
              .fa{
                color: pink;
              }
            }
          }
        }
      }
    }
    .items-box:nth-child(3n) {
      margin-right: 0;
    }
  }
}


.single-main {
  display: block;
  h2 {
    padding: 32px 16px;
    font-size: 22px;
    text-align: center;
  }
  .sell-form:nth-child(3){
    // margin-top: 30px;
  }
  .sell-form {
    border-top: 1px solid #eee;
    .btn-box {
      line-height: 1.5;
      span {
        color: #0099e8;
      }
      .btn-red {
        margin: 40px 0 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        cursor: pointer;
        text-align: center;
        font-size: 14px;
      }
      .a {
        width: 45%;
        margin: 24px auto 0;
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
        display: block;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
      }
    }
    .sell-content {
      padding: 40px;
      border-top: 1px solid #eee;
      .form-question {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #0099e8;
        color: #fff;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
      }
      .sell-sub-head {
        float: left;
        color: #888;
        font-size: 14px;
      }
      .sell-form-box {
        float: right;
        width: 400px;
        margin: 0;
        .sell-price {
          list-style: none;
          li {
            padding: 24px 0;
            border-top: 1px solid #ccc;
            .left {
              float: left;
            }
            .right {
              float: right;
            }
            #fee{
              font-size: 14px;
            }
            #profit{
              font-size: 28px;
            }
          }
          li:first-child {
            padding: 0 0 24px;
            border: 0;
          }
          .profit {
            .left {
              float: left;
            }
            .right {
              float: right;
            }
            font-weight: 600;
          }
          .form-group:first-child {
            margin: 0;
            .right {
              width: 50%;
              text-align: right;
              float: right;
              .input_1 {
                display: inline-block;
                width: 80%;
                margin: 0 0 0 5%;
                input {
                  margin: 0;
                  text-align: right;
                  width: 145px;
                  height: 48px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 16px;
                  padding-right: 15px;
                }
              }
            }
            .left {
              width: 50%;
              line-height: 48px;
              float: left;
            }
            label {
              font-weight: 600;
              span {
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: #ea352d;
              }
            }
          }
        }
        .form-group:first-child {
          margin: 0;
        }
        .form-group {
          margin: 40px 0 0;
          .select {
            margin-top: 8px;
            width: 400px;
            height: 48px;
            position: relative;
            select {
              width: 400px;
              height: 48px;
              background: #fff;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              padding: 15px;
              font-size: 14px;
              z-index: 2;
              position: relative;
              background: transparent;
            }
            select::-ms-expand{
              display: none;
            }
            .chevron-down{
              z-index: 1;
              position: absolute;
              top: 15px;
              right: 15px;
              content: '';
              width: 10px;
              height: 10px;
              border-bottom: 3px solid #aaa;
              border-right: 3px solid #aaa;
              -ms-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
          label {
            font-weight: 600;
            display: inline-block;
            .form-require {
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
          }
        }
      }
      .form-group {
        margin: 40px 0 0;
        label {
          font-weight: 600;
          display: inline-block;
          .form-require {
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
        }
        .input {
          width: 605px;
          height: 48px;
          
          margin: 8px 0 0;
          border-radius: 4px;
          .item-name {
            width: 605px;
            height: 48px;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding-left: 15px;
          }
        }
        .text-area {
          width: 600px;
          min-height: 122px;
          
          margin: 8px 0 0;
          border-radius: 4px;
          .item-des {
            width: 600px;
            height: 122px;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
          }
        }
      }
      .form-group:first-child {
        margin: 0;
      }
    }
    .sell-upload-box {
      width: 620px;
      padding: 40px;
      p {
        margin: 8px 0 0;
        line-height: 1.5;
        font-size: 13px;
      }
      
      .sell-dropbox {
        display: block;
        width: 620px;
        margin: 16px auto 0;
        position: relative;

        .have-1-image{
          position: absolute;
          right: 0;
          top: 0;
          width: 80%;
        }
        .have-2-image{
          position: absolute;
          right: 0;
          top: 0;
          width: 60%;
        }
        .have-3-image{
          position: absolute;
          right: 0;
          top: 0;
          width: 40%;
        }
        .have-4-image{
          position: absolute;
          right: 0;
          top: 0;
          width: 20%;
        }
        .have-5-image{
          // position: absolute;
          // right: 0;
          // top: 100%;
          width: 100%;
        }
        .have-6-image{
          position: absolute;
          right: 0;
          top: 50%;
          width: 80%;
        }
        .have-7-image{
          position: absolute;
          right: 0;
          top: 50%;
          width: 60%;
        }
        .have-8-image{
          position: absolute;
          right: 0;
          top: 50%;
          width: 40%;
        }
        .have-9-image{
          position: absolute;
          right: 0;
          top: 50%;
          width: 20%;
        }

        .image-contents {
          display: inline;
          .image-content {
            -webkit-box-flex: 1;
            flex: 1;
            float: left;
            display: block;
            ul {
              display: block;
              width: 100%;
              .image-box:first-child {
                margin-left: 0;
              }
              .image-box:nth-child(6) {
                margin-left: 0;
              }
              .image-box {
                width: 110px;
                margin: 0 0 10px 10px;
                display: inline-block;
                border: 1px solid #eee;
                vertical-align: top;
                .box-bottom {
                  font-size: 14px;
                  .edit {
                    float: left;
                    width: 50%;
                    background: #f5f5f5;
                    line-height: 44px;
                    text-align: center;
                    color: #0099e8;
                  }
                  .delete {
                    float: right;
                    width: 50%;
                    background: #f5f5f5;
                    line-height: 44px;
                    text-align: center;
                    color: #0099e8;
                    cursor: pointer;
                  }
                }
                figure {
                  line-height: 116px;
                  width: auto;
                  padding: 0;
                  height: 116px;
                  overflow: hidden;
                  background: #f5f5f5;
                  img {
                    position: static;
                    -webkit-transform: none;
                    transform: none;
                    width: 100%;
                    cursor: default;
                    vertical-align: middle;
                  }
                }
              }
            }
          }
        }
        
        .sell-upload-drop-box {
          display: block;
          margin-left: 0;
          padding: 80px 0;
          background: #f5f5f5;
          border: 1px dashed #ccc;
          font-size: 0;
          text-align: center;
          cursor: pointer;
          position: relative;
          input {
            display: none;
          }
          .visible-pc {
            position: absolute;
            top: 50%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            pointer-events: none;
            white-space: pre-wrap;
            word-wrap: break-word;
          }
        }
      }
      .sell-upload-head {
        font-size: 16px;
        .form-require {
          background: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
      }
    }
  }
}