
.contents

  = render partial: 'shared/header'
  = render partial: 'shared/nav'

  .main.clearfix
    
    = render partial: 'mypage/shared/side_column'

    .content

  = render partial: 'shared/footer'


      